html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
}

/* some general styles */

/* navbar */
.nav-link {
  color: rgb(150, 150, 150);
  margin: auto 10px;
}
.nav-link:hover {
  color: rgb(100, 100, 100);
}
.navbar {
  font-size: 1.8rem;
}
.navbar-brand {
  margin: auto 5px;
}
.dropdown-menu {
  font-size: 1.8rem;
}
/* navbar */

/* main header */

.text-con {
  margin: auto auto;
}
.main-para {
}
.img-edit {
  width: 100%;
}
.img-cont {
}
.text-con p {
  font-size: 3rem;
  letter-spacing: -0.5px;
  color: white;
  margin: auto 0;
}
.text-con {
  border-left: 2px solid white;
}
.text-con h1 {
  font-size: 7rem;
  color: white;
}
