/*laptops and small laptops */
@media (max-width: 84em) {
  .navigation {
    width: 74%;
  }
}

/*landscape tablets */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .grid-framework {
    grid-template-columns: 1fr 2.2fr;
    margin-bottom: 10%;
    margin-top: 10%;
  }
  .mytitle {
    font-size: 4em;
  }
  .my_basic_description {
    font-size: 3em;
  }
}
